@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00467f;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #77a1d3;

    --background: 226 33.15% 5.2%;
    --foreground: 226 5.1% 98.25%;

    --muted: 226 25.5% 19.5%;
    --muted-foreground: 226 5.1% 56.5%;

    --popover: 226 54.8% 8.450000000000001%;
    --popover-foreground: 226 5.1% 98.25%;

    --card: 226 54.8% 8.450000000000001%;
    --card-foreground: 226 5.1% 98.25%;

    --border: 226 25.5% 19.5%;
    --input: 226 25.5% 19.5%;

    --primary: 226 51% 65%;
    --primary-foreground: 226 5.1% 6.5%;

    --secondary: 226 25.5% 19.5%;
    --secondary-foreground: 226 5.1% 98.25%;

    --accent: 226 25.5% 19.5%;
    --accent-foreground: 226 5.1% 98.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 226 5.1% 98.25%;

    --ring: 226 51% 65%;
  }

  .dark-aqua {
    --gradient: #02aab0;

    --background: 193 63.699999999999996% 2.8%;
    --foreground: 193 9.8% 96.75%;

    --muted: 193 49% 10.5%;
    --muted-foreground: 193 9.8% 53.5%;

    --popover: 193 45.4% 4.55%;
    --popover-foreground: 193 9.8% 96.75%;

    --card: 193 45.4% 4.55%;
    --card-foreground: 193 9.8% 96.75%;

    --border: 193 49% 10.5%;
    --input: 193 49% 10.5%;

    --primary: 193 98% 35%;
    --primary-foreground: 193 9.8% 96.75%;

    --secondary: 193 49% 10.5%;
    --secondary-foreground: 193 9.8% 96.75%;

    --accent: 193 49% 10.5%;
    --accent-foreground: 193 9.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 193 9.8% 96.75%;

    --ring: 193 98% 35%;
  }

  .light-violet {
    --gradient: #231557;
    --background: 269 98.05% 98.42%;
    --foreground: 269 6.1% 0.84%;

    --muted: 269 6.1% 92.1%;
    --muted-foreground: 269 3.05% 42.1%;

    --popover: 269 41.2% 92.1%;
    --popover-foreground: 269 6.1% 1.05%;

    --card: 269 41.2% 92.1%;
    --card-foreground: 269 6.1% 1.05%;

    --border: 269 11.1% 89.84%;
    --input: 269 11.1% 89.84%;

    --primary: 269 61% 21%;
    --primary-foreground: 269 1.22% 92.1%;

    --secondary: 269 3.05% 96.05%;
    --secondary-foreground: 269 4.66% 12.1%;

    --accent: 269 3.05% 96.05%;
    --accent-foreground: 269 4.66% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 269 61% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient {
    background: var(--gradient);
  }
}

/* Hide arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
